<template>
  <div>
    <h1>My name is {{msg}}</h1>
    <i class="fa fa-eercast" aria-hidden="true"></i>
  </div>
</template>

<script>
export default {
  data() {
    return {
      msg: 'Naved'
    }
  }
}
</script>

<style scoped>
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
</style>